<div class="home-screen container">
    <div class="row">
        <div class="col-lg-4 bg-danger">
            <h3>Hello world</h3>
        </div>
        <div class="col-lg-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <div class="d-flex justify-content-between align-items-center card-1">
                    <img src="images/img1.jpg" alt="" class="sqr-img shadow">
                    <div class="text-center w-50">
                        <h5>New York City</h5>
                        <p class="fw-semibold"><span><fa-icon class="text-primary pe-2" [icon]="faMapMarkerAlt"></fa-icon></span>U.S City</p>
                        <button>Book Now</button>
                    </div>
                </div>
                <div></div>
            </div>

        </div>
        <div class="col-lg-4 bg-primary">
            <h3>Hello world</h3>

        </div>
    </div>
</div>