// ul li .nav-link {
//     color: gray;
// }

.navbar-nav {
  --bs-nav-link-color: gray;
  --bs-nav-link-hover-color: black;
}


.btn-success {
    --bs-btn-color: #353f3e;
    --bs-btn-bg: #e1ebea;
    --bs-btn-border-color: #e1ebea;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-bg: #9bcfc9;
    --bs-btn-hover-border-color: #9bcfc9;
    border-radius:23px;
    transition: all 0.3s ease-in-out;
}