<div class="container mt-3 header position-relative">
    <img src="images/header-img.jpg" class="w-100 h-100 object-fit-cover" alt="beach image">

    <div class="header-content position-absolute text-center">
        <h2 class="fw-bold header-title">Green Beach</h2>
        <p class="fw-medium fs-3">Travel Experience</p>

        <button class="play-button mt-4 mb-sm-0 mb-3">
            <fa-icon class="play-icon" [icon]="faPlay"></fa-icon>
        </button>
    </div>

    <div class="header-bar position-absolute px-4 d-flex justify-content-between align-items-center">
        <div class="d-md-flex d-none justify-content-between align-items-center">
            <div class="px-4 mt-3">
                <div class="d-flex justify-content-start align-items-baseline gap-2 mb-1">
                    <h4>Location</h4><span class="fs-5"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                </div>
                <p>where are you going</p>
            </div>
            <div class="divider"></div>
            <div class="px-4 mt-3">
                <div class="d-flex justify-content-start align-items-baseline gap-2 mb-1">
                    <h4>Date</h4><span class="fs-5"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                </div>
                <p>choose date</p>
            </div>
            <div class="divider"></div>
            <div class="px-4 mt-3">
                <div class="d-flex justify-content-start align-items-baseline gap-2 mb-1">
                    <h4>Guest</h4><span class="fs-5"><fa-icon [icon]="faAngleDown"></fa-icon></span>
                </div>
                <p>- Add +</p>
            </div>
        </div>
        <div class="d-md-none d-xl-block d-block">
            <div class="search-bar">
                <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
                <input type="text" class="search-input" placeholder="Search">
            </div>
        </div>
    </div>
</div>