<div class="container mt-2">

    <input type="file" (change)="onFileSelected($event)" />
    @if(errorMessage) {
    <p style="color: red;">{{ errorMessage }}</p>
    }
    <button (click)="upload()" [disabled]="!selectedFile">Upload</button>

    @if(uploadProgress) {
    <p>Progress: {{ uploadProgress }}%</p>
    }

    @if (errorMessage) {
        <div>
          <p style="color: red;">{{ errorMessage }}</p>
        </div>
      }
      
      @if (resultUrl) {
        <div>
          @switch (resultType) {
            @case ('image') {
              <img [src]="resultUrl" alt="Annotated image" />
            }
            @case ('video') {
              <video [src]="resultUrl" controls></video>
            }
          }
        </div>
      }

</div>